


small {
    font-size: 80%}
    img.lazy {
    opacity: 0;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-slider {
    overflow: hidden;
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.m-slideshow--multi .slick-list {
    overflow: initial;
}
.m-slideshow--multi .slick-slide:first-child {
    margin-left: 10px;
}
.c-Item__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Tw Cen W01 Medium";
    font-weight: 400;
}
.c-Item__title a {
    text-decoration: none;

}
.c-Item__content p {
    margin-bottom: 0;
    line-height: 1.7;
    font-size: 15px;
    font-size: .8075rem;
    color: #FFFFFF;
    margin-right: 20px;
}
figure.c-Item__image {
    margin: 0;
    margin-right: 10px;
}
.c-Item__image {
    background-color: #f2f2f2;
    position: relative;
}
.c-Item__image a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    transition: ease opacity 350ms;
}
.c-Item__image a:hover:after {
    opacity: 1;
}
.c-Item__image img {
    display: block;
    width: 100%}
.c-Item__list {
    margin-bottom: 20px;
            COlor: #bd2b44;
}
.c-Item__list ul {

    margin: 0;
    padding: 0;
    list-style: none;
}
.c-Item__list li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.43px;
    font-size: 13px;

    font-weight: normal;
    line-height: 1.4;
}
.c-Item__list li:after {
    content: ",  "}
.c-Item__list li:last-child:after {
    display: none;
}
.c-Item__list a {
            COlor: #bd2b44;
    text-decoration: none;
    font-size:10px;
    font-weight:bold;
}
.c-Item__link {

    text-transform: uppercase;
    text-decoration: none;
    color: #999;
    letter-spacing: .1em;
}
.c-Item__link:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #333;
}
.c-Item--vertical {
    margin-bottom: 40px;
}
@media screen and (min-width:40em) {
    .c-Item--vertical {
    margin-bottom: 80px;
}
}@media screen and (min-width:75em) {
    .c-Item--vertical {
    margin-bottom: 95px;
}
}.c-Item--vertical .c-Item__image {
    margin-bottom: 7px;
}
.c-Item--vertical .c-Item__list {
    margin-bottom: 15px;
}
.c-Item--vertical .c-Item__title {
    margin-bottom: 12px;
}
.m-slideshow.m-slideshow--multi.m-slideshow--multi--no-dots.slick-initialized.slick-slider {
  margin: -60px 100px;
}
}.module {
    border-top: 1px solid #333;
    padding-top: calc(.00937 * 100vw + 35px);
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (max-width: 1024px){
  .m-slideshow.m-slideshow--multi.m-slideshow--multi--no-dots.slick-initialized.slick-slider {
      margin: 50px;
  }
}
@media screen and (min-width:100em) {
    .module {
    padding-top: 50px;
}
}@media screen and (max-width:27.4375em) {
    .module {
    padding-top: 35px;
}
}.module::after, .module::before {
    content: ' ';
    display: table;
}
.module::after {
    clear: both;
}

}.module__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: calc(.00937 * 100vw + 35px);
    font-size: 20px;
    font-family: "Tw Cen W01 Medium";
    font-weight: 400;
}
@media screen and (min-width:100em) {
    .module__title {
    margin-bottom: 50px;
}
}@media screen and (max-width:27.4375em) {
    .module__title {
    margin-bottom: 35px;
}
}
}@media screen and (max-width:27.4375em) {
    .c-gallery--slideshow {
    margin-left: -10px;
}

}.m-slideshow--multi .m-slideshow__slide {
    padding: 0 10px;
}
@media screen and (max-width:39.9375em) {
    .m-slideshow--multi .c-Item {
    max-width: 240px;
}
}.push {
    transition: -webkit-transform .4s cubic-bezier(.16, .68, .43, .99);
    transition: transform .4s cubic-bezier(.16, .68, .43, .99);
}

.l-Header {
    background-color: #fff;
    z-index: 1000;
    font-size: 20px;
    font-family: "Tw Cen W01 Medium";
    font-weight: 400;
}
.l-Header a {
    text-decoration: none;
}
img.lazyloaded {
    opacity: 0;
    -webkit-animation: fade 1s forwards;
    animation: fade 1s forwards;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}
img.lazy {
    opacity: 0;
}
@-webkit-keyframes fade {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@media screen and
